<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     	xmlns:cxf="http://cxf.apache.org/core"
		xmlns:jaxws="http://cxf.apache.org/jaxws"
		xmlns:jaxrs="http://cxf.apache.org/jaxrs"
		xsi:schemaLocation="
			http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
			http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
    
	<jaxrs:server id="jaxRsServer" address="/">
		<jaxrs:features> 
        	<cxf:logging/> 
        </jaxrs:features>	
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
		</jaxrs:providers>
		<jaxrs:serviceBeans>
			<ref bean="restClientService" />
		</jaxrs:serviceBeans>
	</jaxrs:server>

    <!-- define our Business Service beans -->
    <bean id="clientService" class="com.springcxfdemo.clientservice.business.service.ClientServiceImpl"/>
         
    <!-- define our REST Service beans -->     
    <bean id="restClientService" class="com.springcxfdemo.clientservice.webservice.RESTClientServiceImpl">
    	<property name="service" ref="clientService" />
    </bean>
    
    <!-- would define other beans, etc. here -->
     
</beans>
